.yellow-box {
  width: 100vw; 
  height: 80px; 
  background-color: #fdb515;
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 20px; 
}

.yellow-box a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
}

.yellow-box a:hover .text {
  text-decoration: underline;
}

.yellow-box .text {
  font-weight: bold;
  font-size: 35px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
  .yellow-box {
      height: 60px;
  }

  .yellow-box .text {
      font-size: 24px; 
      margin-top: 0; 
  }
}

@media (max-width: 480px) {
  .yellow-box {
      height: 50px; 
  }

  .yellow-box .text {
      font-size: 18px; 
  }
}
@media (max-width: 480px) {
    .yellow-box .text {
        font-size: 18px; 
        margin-left: 15px; 
    }
}