.yellow-box {
    width: 100vw; 
    height: 80px; 
    background-color: #fdb515;
    position: relative; 
  }
  
  .yellow-box a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  .yellow-box a:hover .text {
    text-decoration: underline;
    color: black;
    display: flex;
    align-items: center;
  }
  .yellow-box .text {
    font-weight: bold;
    font-size: 35px;
    margin-left: 420px;
    margin-top: 18px;
    font: bold;
  }
  @media (max-width: 768px) {
    .yellow-box {
        height: 60px; /* Slightly smaller box for smaller devices */
    }

    .yellow-box .text {
        font-size: 24px; 
        margin-left: 20px;
        margin-top: 10px; 
    }

}


@media (max-width: 480px) {
    .yellow-box .text {
        font-size: 18px; 
        margin-left: 15px; 
    }
}