.body-container {
    display: flex;
    justify-content: center; 
    align-items: left;
    height: 60px; 
  }

.note {
    display: flex;
    justify-content: center; 
    align-items: left;
    height: 40px; 
}

.note p{
  color: black;
  justify-content: center;
}
  