/* Form.css */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-page-2{
    width: 75%; 
    padding: 20px;
  }
  
  .label {
    padding: 2px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  .large-input {
    width: 100%; 
    height: 100px; 
    padding: 10px;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }

  .submit-button-container {
    display: flex;
    justify-content: right;
  }
  
  .submit-button {
    background-color: #fdb515; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .submit-button:hover {
    background-color: #d4af37; 
  }
  
  .input-normal {
    border: 1px solid #ccc;
  }
  
  .input-error {
    border: 1px solid red;
  }

  .input-error-text {
    display: flex;
    align-items:flex-start;
    justify-content: left;
    color: red;
  }

  @media (max-width: 768px) {
    .form-page-2 {
        width: 90%; 
    }

    input[type="text"], .large-input {
        width: calc(100% - 20px); 
    }

    .submit-button, .submit-button-container {
        justify-content: center; 
    }
}

@media (max-width: 480px) {
    .form-page-2 {
        width: 95%; 
    }

    label, .label {
        margin-bottom: 15px; 
    }

    .submit-button {
        padding: 8px 15px; 
        font-size: 14px;
    }
}
  
